.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.Header h1 {
  margin: 0;
  font-size: 2rem;
}

.Header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.Header p {
  margin: 0;
  font-size: 1rem;
}

.token-dashboard-container {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 20px;
}

.transfer-form-container,
.approval-form-container,
.allowance-form-container,
.mint-form-container,
.burn-form-container {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 20px;
}

.form-header {
  margin-top: 0;
}

.TransferForm label {
  margin-bottom: 10px;
}

.TransferForm .input {
  margin-left: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.TransferForm .button {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.TransferForm .button:hover {
  background-color: #0069d9;
}
